# Auto detect text files and perform LF normalization
* text=auto

comandos do gitbash 

git add .  // add tudo no git 

git  commit -m "mensagem" // commit com mensagem

git push -u origin master // enviar para o repositório remoto

git branch -M main // mudar o nome da branch para main

git branch -a // ver todas as branches

git checkout main // mudar para a branch main

git merge main // merge com a branch main

git branch -d nome // deletar a branch