*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.linha {
    width: 100%;
    height: 7px;
    background-color: #0048ce;
}

.a {
    background: url(../img/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    background-attachment: fixed;
    padding-top: 15px;
  }
  .container {
    display: flex;
    width: 85vw;
    justify-content: space-between;
}
.menu {
    display: flex;
    width: 100%;
    height: 100px;

    align-items: center;
    justify-content: center;
}
  .logo {
    width: 100px;
    height: 100px;
  }
  nav {
    display: flex;
  }
  nav li{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 10px;
  }
  nav a{
    text-decoration: none;
    color: #FFF;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  .icon{
    width: 17px;
    padding-right: 5px;
}

 nav ul li a:hover {
    border-bottom: 2px solid #0048ce;
    border-top: 2px solid #0048ce ;
    color: #4384fc;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 15px;
 }
  .nav {
    position: absolute !important;
  }

  main{
    width: 100%;

    display: flex;
    justify-content: center;


  }
  .texte{
    font-size: 25px;
  }
  .texteSet{
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: antiquewhite;*/
    line-height: 40px;
    padding-top: 80px;
    padding-bottom: 60px;
    border-bottom: 2px solid #0048ce;
    border-top:2px solid #0048ce;


  }



  /*                  Eu sou                                    */


  .wrapper{
     justify-content: center;
     align-items: center;
 }
 .textos-estatico{
     font-size: 40px;
     color: #ffffff;
     padding-left: 8vw;
 }
 .textos-dinamicos{
     /*background-color: aqua;*/
     display: flex;
     text-align: justify;
 }
 .textos-dinamicos li {
     list-style: none;
     position: relative;
     color: #0048ce;
 }

 .EuSou{
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /*                     projeto                        */

  
  .projetos{
    display: flex;
    justify-content: center;
  }
  .container-projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .projeto{
    margin-left: auto;
    margin-right: auto;
  }
  .cor-icon-projetos{
    width: 50px;
    color: #0048ce;
    padding-left: 15px;

  }
  .texto-projeto{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .op-projeto{
    /* background-color: rgb(241, 7, 7); */
    display: flex;
    align-items: center;
    width: 60vw;
    height: 25vw;
  }
  .selection-blocos{
    overflow: hidden;
  }
  .todos-blocos {
    display: flex;
    flex-direction: row;
    width: 150vw;
    height: 285px;
    transition: transform 0.5s ease-in-out;
}

.inf{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inf{
  width: 29vw;
  height: 20vw;
  font-size: 0;

}
.inf:hover {
  color: #ffffff;
  font-size: 15px;
  width: 29vw;
  height: 20vw;
  background-color: #0e0c0cf6;
  display: flex;
  flex-direction: column;
}

.blocos-projetos {
  background-image: url(../img/awax-projeto.png);
  width: 65vw;
  height: 20vw;
  margin: 10px; /* Espaçamento entre os blocos */
  background-size: cover; /* Garantir que a imagem cubra completamente o bloco */
  background-position: center;
  background-repeat: no-repeat;
}


.blocos-projetos2{
  background-image: url(../img/fundo.png);
  border: black 1px solid;
}
.blocos-projetos3{
  background-image: url(../img/starbucks-projeto.png);
  border: black 1px solid;
}
.blocos-projetos4{
  background-image: url(../img/imc-projeto.png);
  border: black 1px solid;
}

.blocos-projetos5{
  background-image: url(../img/portifolio-2-projeto.png);
  border: black 1px solid;
}


.wrapper-projetos {
  justify-content: center;
    display: flex;
    opacity: 1;
    align-items: center;
}

  .seta{
    width: 5vw;
    height: 5vw;

    /* background-color: salmon; */
  }
  .seta-esquerda{
    cursor: pointer;
    background-image: url(../icon/seta-esquerda.png);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;

  }
  .seta-direita{
    cursor: pointer;
    background-image: url(../icon/seta-direita.png);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;

  } 








/*              roda pé              */

.rp {
  display: flex;
  justify-content: center;
}

.rp-text{
  display: flex;
  justify-content: center;
}
footer a{
  margin-left: 5px;
  text-decoration: none;
}
